body{
  background-color: #1c1c1c;
  color: #e6e7e8;
}

img{
  display: block;
  height: 250px;
  margin: 5rem auto 1rem;
  border-radius: 50%;
  border: #E4D00A 2px solid;
}

h2{
  width: max-content;
  margin: 5% auto 2rem;
  color: #E4D00A;
}

p{
  width: 50%;
  text-align: center;
  margin: 1rem auto;
}
a{
  color: #E4D00A;
  text-decoration: none;
}
a.sass{
  color: #CF649A;
}
a:hover{
  color: #807613;
  text-decoration: underline;
}
a:active{
  color: #E5DC79;
}
a:visited{
  color: #E5DC79;
}