body{
  background-color: #1c1c1c;
  color: #e6e7e8;
}

img{
  width: 300px;
  margin: 10%;
}

h2{
  width: max-content;
  margin: 15% auto 2rem;
}

p{
  width: 50%;
  text-align: center;
  margin: auto;
}